.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 16px;
  height: 6rem;
  border-radius: 16px;
  border: 1px solid #eaeaea;
}

.meta {
  display: flex;
  align-items: center;
}

.name {
  font-size: 1.2rem;
  line-height: 32px;
  margin: 0 0 0 .8rem;
}

.desc_container {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 0.5rem;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: table-cell;
  font-size: .9rem;
}